body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  background-image: url('https://moodle.oaxaca.tecnm.mx/pluginfile.php/1/theme_moove/loginbgimg/1707760593/explanada.JPG');
  background-size: cover;
  background-position: center;
  align-items: flex-start; /* Alineación para que empiece desde arriba */
  min-height: 100vh; 
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

.card-left {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  text-align: center;
}

@media (min-width: 768px) {
  .card-left {
    width: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.card-left h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.card-left p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.1);
}

.card-right {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .card-right {
    width: 50%;
  }
}

.divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.tab-pane {
  transition: transform 0.3s ease-in-out;
}

.fade:not(.show) {
  opacity: 1;
}

.fade {
  opacity: 1;
}

.fade.show {
  opacity: 1;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.error-message2 {
  text-align: justify;
  color: red;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.loading-indicator p {
  text-align: center;
  color: #333;
  font-weight: bold;
}
@media (max-width: 767px) {
  .container-fluid {
    flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
    justify-content: flex-start; /* Asegura que comience desde arriba */
   /* align-items: stretch; /* Alineación de estiramiento para ocupar toda la altura */
    min-height: 100%; /* Elimina la altura mínima para permitir el estiramiento */
    overflow-y: auto; 
  }

  .card {
    max-width: none; /* Ancho máximo sin restricción en pantallas pequeñas */
  }

  .card-right {
    order: 1; /* Cambia el orden del formulario a la parte superior */
    overflow-y: auto; 
  }
}