<app-menu></app-menu>
<div class="container post-container">
    <div class="post-content">
      <h1>{{ post.titulo }}</h1>
      <div [innerHTML]="post.contenido"></div>
  
      <div *ngIf="post.img" class="text-center">
        <img [src]="'http://localhost:8080' + post.img" alt="Post Image" class="post-image">
      </div>
  
      <div *ngIf="post.archivo" class="text-center mt-3">
        
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Ver Documento</button>
        
      </div>
  
      
      <div class="d-flex align-items-center justify-content-between mt-4">
        <div class="d-flex align-items-center post-user">
          <img [src]="'http://localhost:8080' + post.usuario?.imgUrl" alt="Usuario Image" class="rounded-circle me-3">
          <span>{{ post.usuario?.nombre }}</span>
          <span>{{ post.usuario?.apellido }}</span>
        </div>
        <span class="ml-auto">Fecha de Publicacion: {{ post.fechaFormatted }}</span> <!-- Usa ml-auto para alinear a la derecha -->
      </div>
  
      <div class="comment-form mt-5">
        <h3>Agregar Comentario</h3>
        <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()" class="shadow p-4 bg-light rounded">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título:</label>
            <input id="titulo" formControlName="titulo" class="form-control">
          </div>
  
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <p-editor formControlName="descripcion"  [style]="{ height: '200px' }"></p-editor>

          </div>
  
          
          <button type="submit" class="btn btn-primary w-100">Agregar Comentario</button>
        </form>
      </div>
  
      <div class="comments-section mt-5">
        <h3>Comentarios</h3>

        <div *ngFor="let comment of comments" class="comment-card">
          <p-card [header]="comment.titulo">
            <div class="m-0">
              <div [innerHTML]="comment.contenido"></div>
            
              <div class="d-flex align-items-center justify-content-between mt-4">
                <div class="d-flex align-items-center post-user">
                  <img [src]="'http://localhost:8080' + comment.usuario?.imgUrl" alt="Usuario Image" class="rounded-circle me-3">
                  <span>{{ comment.usuario?.nombre }}</span>
                  <span>{{ comment.usuario?.apellido }}</span>
                </div>
                <span class="ml-auto">Fecha de Publicacion: {{ comment.formattedDate }}</span> <!-- Usa ml-auto para alinear a la derecha -->
              </div>

            </div>
          </p-card>
        </div>
        
        
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-custom-width">
        <div class="modal-content">
            <embed [src]="sanitizedPdfUrl" type="application/pdf" class="pdf-embed" />
        </div>
    </div>
  </div>